In [5]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [6]:
data=pd.read_csv("dataset w7.csv")

# 1.Descriptive analysis on the dataset

In [7]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# Question 2

In [40]:
ttest,pval=stats.ttest_ind(data['Total Marks'][data['Gender'] == 'male'],
                 data['Total Marks'][data['Gender'] == 'female'])

In [41]:
ttest,pval

(-0.6940885268848668, 0.4937822317960763)

In [42]:
data_male=data.loc[data["Gender"]=="male"]
data_female=data.loc[data["Gender"]=="female"]

In [43]:
df=(len(data_male)-1)+(len(data_female)-1)

In [44]:
df

26

significance level=5%=0.05

In [45]:
#find T critical value
value = stats.t.ppf(q=1-0.05/2,df=df)

In [46]:
value

2.055529438642871

In [47]:
if ((ttest)>value) & (pval<0.05):
    print("we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

# Question 3

In [48]:
Null hypothesis:Test preparation does not help students
Alternate hypothesis: Test preparation help students

In [49]:
data_none=data.loc[data["Test preparation"]=="none"]
data_completed=data.loc[data["Test preparation"]=="completed"]

In [52]:
ttest,pval=stats.ttest_ind(data_completed['Total Marks'],
                 data_none['Total Marks'])

In [53]:
ttest,pval

(3.6143637527769217, 0.0012671292457320106)

In [54]:
df=(len(data_none)-1)+(len(data_completed)-1)

In [55]:
df

26

In [56]:
if ((ttest)>value) & (pval<0.05):
    print("we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are rejecting null hypothesis

Test Preparation help students